body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 300px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

li {
    margin: 5px 0;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
}
